[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pycodestyle = "*"
pytest = "*"

[packages]
psycopg2-binary = "*"
gunicorn = "*"
django = "*"
python-dotenv = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
